h1 {
    text-align: center;
    font-size: 48px;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    margin-top: 30px;
    margin-bottom: 30px;
}

.estilo {
    text-align: center;

}

.paragrafo1 {

    font-family: "Permanent Marker", cursive;
}

h2 {
    margin-top: 30px;
    font-weight: bold;
    font-size: 20px;
    font-family: "Permanent Marker", cursive;
    text-align: center;
}

li {
    margin-top: 16px;
}

body {
  background-image: url('./shurikenfundo.jpg');
  text-align: center;
}